
body{
    background-color: rgb(233, 172, 93);
}
h1{
    text-align: center;
}
p{
    margin-left:42%;
    margin-right: 36%;
}
form,div{
    margin-top: 3em;
    margin-left:46%;
    margin-right: 36%;
}